<div id="<%= dom_id movie %>" class="p-3 mb-2 bg-light text-dark rounded">
  <p>
    <strong>Název filmu:</strong>
    <%= movie.name %>
  </p>

  <p>
    <strong>Datum vydání:</strong>
    <%= movie.release_date %>
  </p>

  <p>
    <strong>Režisér:</strong>
    <%= link_to Director.find_by_id(movie.director_id).first_name.to_s, director_path(movie.director_id) %>

  </p>

  <div class="flexbox-container">
    <% if movie.ratings.count > 0 %>

      <div style="margin-right: 10px;">
        <strong>Hodnocení: </strong>
      </div>

      <div>
        <%= movie.ratings.average(:value).round(2) %>/5.0
      </div>

      <div style="margin-left: 40px;">
        <strong>Počet hodnocení:</strong>
      </div>

      <div style="margin-left: 10px;">
        <%= movie.ratings.count %>
      </div>

      <% if movie.ratings.where(created_at: 10.hours.ago..).count > 0 %>
        <div style="margin-left: 40px;">
          <strong>Průměr nových hodnocení:</strong>
        </div>

        <div style="margin-left: 10px;">
          <%= movie.ratings.where(created_at: 10.hours.ago..).count %>
        </div>

        <div style="margin-left: 40px;">
          <strong>Počet nových hodnocení:</strong>
        </div>

        <div style="margin-left: 10px;">
            <%= movie.ratings.where(created_at: 10.hours.ago..).average(:value).round(2) %>
        </div>
      <% else %>
        <div style="margin-left: 40px;">
          Žádná nová hodnocení nejsou k dispozici.
        </div>
      <% end %>

      <% else %>
      <div>
        <strong>Film ještě nikdo neohodnotil, ohodnoťte ho vy!</strong>
      </div>
    <% end %>
      
    </div>
  <% unless current_page?('/movies') %>
    <p>
      <strong>Popis:</strong>
      <%= movie.description %>
    </p>
  <% end %>

  


</div>
