<div id="<%= dom_id director %>" class="p-3 mb-2 bg-light text-dark rounded">
  <p>
    <strong>Jméno:</strong>
    <%= director.first_name %>
  </p>


  <p>
    <strong>Datum narození:</strong>
    <%= director.date_of_birth %>
  </p>

  <div class="flexbox-container" style="margin-top: 20px;">

    <div>
      <strong>Průměrné hodnocení všech filmů:</strong>
    </div>

    <div style="margin-left: 10px;">
      <% if (avg = director.average_rating) %>
        <%= avg.round(2) %>/5.0
      <% else %>
        Žádný z filmů tohoto režiséra není ohodnocen
      <% end %>     
    </div>

    

    
      <% if (hrm = director.highest_rated_movie) %>
      <div style="margin-left: 40px;">
        <strong>Nejlépe hodnocený film:</strong>
      </div>
      <div style="margin-left: 10px;">
        <%= link_to hrm.name, movie_path(hrm) %>
        (<%= hrm.average_rating.round(2) %>/5.0)
      </div>
      <% else %>

      <% end %>
    


  </div>
  <div class="flexbox-container" style="margin-top: -10px;">
    

    
      <% if (lrm = director.lowest_rated_movie) %>
      <div style="margin-left: 360px;">
       <strong>
          Nejhůř hodnocený film:
        </strong>
      </div>
      <div style="margin-left: 10px;">
        <%= link_to lrm.name, movie_path(lrm) %>
        (<%= lrm.average_rating.round(2) %>/5.0)
      </div>
      <% else %>

      <% end %>
    
  </div>


  <% unless current_page?('/directors') %>
    <div class="flexbox-container">
      <div>
        <strong>
          Filmy:
        </strong>
      </div>

      <div>
        <ul>
          <% director.movies.each do |movie| %>
            <li><%= link_to movie.name, movie_path(movie) %></li>
          <% end -%>   
        </ul>
      </div>

    </div>
  <% end %>

</div>
